{% extends "base.html" %}
{% block title %}Register Professional{% endblock %}
{% block content %}
<section class="h-100" style="background: linear-gradient(to bottom right, #ff0066, #ff6600); display: flex; justify-content: center; align-items: center;">
    <div class="card" style="width:50rem;">
        <div class="card-body">
            <h5 class="card-title">Register as a Professional</h5>
            <form method="POST" action="/register_professional" enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="name" class="form-label">Name:</label>
                    <input type="text" class="form-control" id="name" name="name" required>
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email:</label>
                    <input type="email" class="form-control" id="email" name="email" required>
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password:</label>
                    <input type="password" class="form-control" id="password" name="password" required>
                </div>
                <div class="mb-3">
                    <label for="location" class="form-label">Location:</label>
                    <input type="text" class="form-control" id="location" name="location" required>
                </div>
                <div class="mb-3">
                    <label for="pincode" class="form-label">Pincode:</label>
                    <input type="number" class="form-control" id="pincode" name="pincode" required>
                </div>
                <div class="mb-3">
                    <label for="mobile_number" class="form-label">Mobile Number:</label>
                    <input type="number" class="form-control" id="mobile_number" name="mobile_number" required>
                </div>
                <div class="mb-3">
                    <label for="service" class="form-label">Service:</label>
                    <select class="form-select" id="service" name="service" required>
                        {% for service in services %}
                        <option value="{{ service.name }}">{{ service.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="mb-3">
                    <label for="prof_profile" class="form-label">Profile:</label>
                    <input type="file" class="form-control" id="prof_profile" name="prof_profile" required>
                </div>
                <div class="mb-3">
                    <label for="prof_experience" class="form-label">Experience:</label>
                    <input type="text" class="form-control" id="prof_experience" name="prof_experience" required>
                </div>
                <button type="submit" class="btn btn-primary">Register</button>
            </form>
        </div>
    </div>
</section>

{% endblock %}